<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        .column {
            float: left;
            width: 50%;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
    <title>Клиентская база</title>
    <script>
        function createClient() {
            const clientName = document.getElementById('clientNameTextBox').value;
            const clientAddress = document.getElementById('clientAddressTextBox').value;
            const clientPhone = document.getElementById('clientPhoneTextBox').value;
            let newClient = {name: clientName, address: clientAddress, phone: clientPhone};
            fetch('api/clients',
                {
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify(newClient)
                })
                .then(() => console.log("Save new client: " + JSON.stringify(newClient)));
        }
        function getClients() {
            const clientsDataContainer = document.getElementById('clientsDataContainer');
            fetch('api/clients')
                .then(response => response.json())
                .then(clients => clientsDataContainer.appendChild(buildHtmlTable(clients)));
        }

        var _table_ = document.createElement('table'),
            _tr_ = document.createElement('tr'),
            _th_ = document.createElement('th'),
            _td_ = document.createElement('td');

        // Builds the HTML Table out of myList json data from Ivy restful service.
        function buildHtmlTable(arr) {
            var table = _table_.cloneNode(false),
                columns = addAllColumnHeaders(arr, table);
            for (var i=0, maxi=arr.length; i < maxi; ++i) {
                var tr = _tr_.cloneNode(false);
                for (var j=0, maxj=columns.length; j < maxj ; ++j) {
                    var td = _td_.cloneNode(false);
                    cellValue = arr[i][columns[j]];
                    td.appendChild(document.createTextNode(arr[i][columns[j]] || ''));
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }
            return table;
        }

        // Adds a header row to the table and returns the set of columns.
        // Need to do union of keys from all records as some records may not contain
        // all records
        function addAllColumnHeaders(arr, table)
        {
            var columnSet = [],
                tr = _tr_.cloneNode(false);
            for (var i=0, l=arr.length; i < l; i++) {
                for (var key in arr[i]) {
                    if (arr[i].hasOwnProperty(key) && columnSet.indexOf(key)===-1) {
                        columnSet.push(key);
                        var th = _th_.cloneNode(false);
                        th.appendChild(document.createTextNode(key));
                        tr.appendChild(th);
                    }
                }
            }
            table.appendChild(tr);
            return columnSet;
        }
    </script>
</head>

<body>
<div class="row">
    <div class="column" align="center">
        <h4 >Добавить нового клиента</h4>
        <div class="row">
            <input type="text" id="clientNameTextBox" placeholder="Имя клиента">
            <input type="text" id="clientAddressTextBox" placeholder="Адрес клиента">
            <input type="text" id="clientPhoneTextBox" placeholder="Телефон клиента">
        </div>
        <button onclick="createClient()">Сохранить</button>
    </div>
    <div class="column" align="center">
        <h4 align="center">Получить список клиентов</h4>
        <button onclick="getClients()">Получить</button>
        <div id="clientsDataContainer">

        </div>

    </div>
</div>
</body>
</html>
